html {
    background-color: #333;
    font-family: helvetica;
    font-size: 1em;
}

* {
    padding: 10px;
}

body {
    margin: 5px;
}

header, footer {
    background-color: #ddaa00;
}

footer > a, nav > a {
    color: #ddaa00;
}

nav {
    background-color: #ccc;
    padding: 5px 2px;
    text-align: center;
}

main {
    background-color: grey;
    display: flex;
}

section {
    margin: 5px;
}

nav a {
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: white;
}

h1 {
    margin: 0;
    color: white;
    text-align: center;
}

img {
    padding: 0;
    max-width: 100%;
}

section a {
    border: 1px solid #333;
}

@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
    }
}

@media screen and (min-width: 701px) {
    main {
        justify-content: space-evenly;
    }
}