body {
    width: 95%;
    margin: 0 auto;
    font-family: Helvetica;
}

section > header > h1 {
    font-size: 50px;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    margin-bottom: 0;
    padding: 5px 0 60px 10px;
}

article > header > h1 {
    font-size: 30px;
    color: #343232;
    text-decoration: underline;
}

article {
    background-color: lightgray;
    padding: 10px;
    margin: 5px;
}

nav a {
    color: mediumspringgreen;
    text-decoration: none;
    font-weight: bold;
}

nav {
    background-color: #444;
    padding: 5px;
}