body {
    background-color: #EEA47F;
    font-family: Helvetica;
    margin: auto;
    width: 1200px;
    text-align: center;
}
h1 {
    font-size: 70px;
    color: #00539C;
}
h2 {
    font-style: italic;
    color:#00537C;
    text-decoration: underline;
    font-size: 40px;
    margin-top: 60px;
}
td {
    padding:10px;
    font-size: 20px;
}
th {
    font-variant: all-small-caps;
    font-size: 30px;
    background-color: darkblue;
    padding: 5px;
    color: white;
}
img {
    width: 70px;
}
table {
    border-collapse: collapse;
    border: 3px solid black;
    width: 1200px;
}
.foto {
    width:200px;
}
a:hover {
    color: #00537C;
}
a {
    text-decoration: none;
}
dt {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}
dd {
    font-size: 20px;
    text-align: left;
}
#hobby {
    margin-left: 45%;
}
#interesses p {
    text-align: left;
    margin-left: 40%;
}











