
button {
    margin-top:15px;
}

input {
    margin-bottom: 10px;
}

#isRoker {
    margin-left: 73px;
}

#nederlands {
    margin-left: 50px;
}

#bestelling {
    margin-left: 56px;
    margin-top: 10px
}